# .env
REACT_APP_WP_REST_URL="https://YOUR_WP_WEBSITE/wp-json/wp/v2"
REACT_APP_WP_GRAPHQL_URL="https://YOUR_WP_WEBSITE/graphql"
REACT_APP_JWT_AUTH_URL="https://YOUR_WP_WEBSITE/wp-json/jwt-auth/v1/token"

# Optional (for advanced features)
REACT_APP_CACHE_TTL="300000" # 5 minutes