.*
!/.gitignore
!/.npmignore
node_modules/
dist/
coverage/
.cache/
.rollup.cache/
*.tgz

.env
.env.local
.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.npmrc

.vscode/
.idea/
*.swp
*.swo
*~

*.tsbuildinfo

.DS_Store
Thumbs.db